.top {
    position: fixed;
    top: 0;
    left: 5%;
    z-index: 999;
    width: 90%;
    padding-top: 10px;
    /*margin-left: 0.5%;
    margin-right: 0.5%;*/
    height: 65px;
    background-color: white;
    overflow: auto;
    border-bottom: solid;
    border-color: #d1d1d1;
}

.flex {
    display: flex;
}

.justify-start {
    justify-content: flex-start;
    flex: 2;
}

#title {
    text-decoration: none;
    font-family: 'Russo One';
    font-size: 50px;
    color: black;
}

.search-container {
    text-align: center;
    min-width: 300px;
    flex: 1;
}

.configuration {
    flex: 2;
}

#search-icon {
    background: url('../icon/search-16px.png') no-repeat;
    float: left;
    width: 16px;
    height: 16px;
}

input {
    padding: 8px;
    font-size: 16px;
}

button {
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
}
