#player {
    margin-top: 100px;
    text-align: center;
}

#columns {
    max-width: 1280px;
    margin: 0 auto;
    min-width: 0;
}

#video-title {
    padding-top: 10px;
    font-size: 25px;
    font-weight: bold;
}

#video-info {
    margin: 10px 0px;
    padding-bottom: 10px;
    display: flex;
    border-bottom: solid;
    border-color: #d1d1d1;
}

#author {
    flex: 1;
    justify-content: flex-start;
    display: grid;
    grid-template-columns: 60px 400px;
    grid-template-rows: 35px 35px;
    width: auto;
    margin-left: 5px;
}

#author-image {
    grid-column: 1;
    grid-row: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
}

#author-image img {
    object-fit: contain;
    border-radius: 50%;
    width: auto;
    height: 50px;
    aspect-ratio: 1;
}

#author-name {
    display: flex;
    align-items: end;
    padding-left: 10px;
}

#author-name span {
    font-size: 20px;
    font-weight: bold;
}

#author-subcount {
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-size: 15px;
}

#rating {
    flex: 1;
    width: auto;
    right: 0;
}

#rating-container {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 70px;
    margin-right: 10px;
}

#likes, #dislikes {
    padding: 0 5px;
}

#description-container {
    margin-top: 20px;
    border-radius: 15px;
    padding: 10px;
    min-width: 0;
    background-color: #f2f2f2;
}

#views {
    padding-bottom: 10px;
}

.description-text {
    height: 76px;
    width: calc(100%);
    display:block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: "more ...";
    cursor: pointer;
}

.visible {
    height: auto;
}

#showhideButton {
    font-weight: bold;
    cursor: pointer;
}

#comments {
    margin-top: 20px;
}

/*
iframe {
    background-color: blue;
}*/
