<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyTube</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/searchStyle.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/topBar.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Russo One' rel='stylesheet'>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{{ url_for('static', filename='js/moreResults.js') }}"></script>

</head>
<body>
    {% include 'top_bar.html' %}
    <div id="thumbnail-container" class="thumbnail-container">
        {% if search_results %}
            {% include 'result.html' %}
        {% endif %}
    </div>

</body>
</html>
