<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyTube</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/searchStyle.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{{ url_for('static', filename='js/moreResults.js') }}"></script>

</head>
<body>
    <h1>MyTube</h1>
    <div>
        <form action="/search" method="get">
            <label for="search_query">Search for a YouTube video:</label>
            <input type="text" id="search_query" name="search_query" required>
            <button type="submit">Search</button>
        </form>
    </div>
    <div id="thumbnail-container" class="thumbnail-container">
        {% if search_results %}
            {% include 'result.html' %}
        {% else %}
            {% if request.method == 'GET' %}
                <p>No video found for the search query. Please try another search.</p>
            {% endif %}
        {% endif %}
    </div>

</body>
</html>
