<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyTube - {{ details['title'] }}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/topBar.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/watch.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/comments.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Russo One' rel='stylesheet'>
    <script src="{{ url_for('static', filename='js/watch.js') }}"></script>

</head>
<body>
    {% include 'top_bar.html' %}
    <div id="player">
        <iframe width="1280" height="720" src="{{ video_url }}?autoplay=1" frameborder="0" allowfullscreen loading="lazy"></iframe>
        <!--<iframe width="1280" height="720" src="" frameborder="0" allowfullscreen loading="lazy"></iframe>-->
    </div>
    <div id="columns">
        <div id="video-title">
            <span>{{ details['title'] }}</span>
        </div>
        <div id="video-info">
            <div id="author">
                <div id="author-image">
                    <a href="{{ url_for('channel', channel_id=details['authorId']) }}">
                        <img src="{{ details['authorThumbnails'][0]['url'] }}">
                    </a>
                </div>
                <div id="author-name">
                    <a href="{{ url_for('channel', channel_id=details['authorId']) }}"><span>{{ details['author'] }}</span></a>
                </div>
                <div id="author-subcount">
                    <span>{{ details['subCountText'] }} subscribers</span>
                </div>
            </div>
            <div id="rating">
                <div id="rating-container">
                    <span id="likes">{{ details['likeCount'] }}</span>
                    <img src="../static/icon/like.png">
                    {% if details['dislikeCount'] > 0 %}
                        <span id="dislikes">{{ details['dislikeCount'] }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
        <div id="description-container" onclick="showHide()">
            <div id="views">
                <span id="views-digits">{{ details['viewCount'] }}</span><span id="date">  |  {{ details['publishedText'] }}</span>
            </div>
            <div id="description" class="description-text">
                {{ description|safe }}
            </div>
            <span id="showhideButton">...more</span>
        </div>
        <div id="comments">
            {% if commentsData %}
                {% include 'comments.html' %}
            {% endif %}
        </div>
    </div>
</body>
</html>
